<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<title>My Flask App</title>
		<link rel="icon" href="img/logo.png">
	</head>
	<body>
		<header>
			<h2>Header Content in Main Layout</h2>
		</header>

		<div class="container">
			{% block body %}
			{% endblock %}
		</div>

		<footer>
			<h3>Footer Content in Main Layout</h3>
		</footer>
		
	</body>
</html>	